<a href="/foodtrucks">Foodtrucks</a>
<a href="/dishes">Dishes</a>

<h3>Dish: <%= @dish.dish_name %></h3>
<p>Price: <%= @dish.price %></p>
<p>In stock: <%= @dish.in_stock %></p>

<p><%= link_to "Update Dish", "/dishes/#{@dish.id}/edit" %></p>
